body {
	font-family: Arial, sans-serif;
}

#background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	background: right 4% top 85% no-repeat url("../images/backdrop_plus.png"), #E0EAF0 repeat-x -webkit-linear-gradient(top, white 6%, rgba(0,0,0,0) 45%);
	background-attachment: scroll;
}

.container {
	border: 1px #d4cfc2 solid;
	padding: 30px 50px;
	background-color: #fff;
	box-shadow: 2px 2px 10px rgba(100,100,100,0.2);
	
	margin: 60px auto 0px auto;
	width: 550px;
	min-height: 200px;
	position: relative;
}

.topright {
	position: absolute;
	right: 40px;
	top: 30px;
	color: #888;
	font-size: 0.8em;
}

.group {
	background-color: #ededed;
	padding: 10px;
}

input {
	border: 1px solid #aaa;
	padding: 3px;
	background-color: #fcfcfc;
}
h2 {
	margin-bottom: 30px;
}
h4 {
	color: #333333;
	margin: 0 0 5px 0;
}
#shortcutpanel h4 {
	margin: 10px 0 0 0;
}

a {
	color: #0000bb;
}

#shortcutpanel {
	display: none;
}

#excludepanel {
	text-align: right;
	display: none;
}
#excludepanel p {
	text-align: left;
}

#excludebutton {
	float: right;
}

#excludes {
	text-align: left;
	margin-top: 20px;
}
#excludeleft {
	width:50%;
	float:left;
	width: 180px;
}
#excluderight {
	width:50%;
	float:right;
	width: 278px;
}

a.extensionslink {
	color: #3070FF;
}

ol {
	margin-top: 0;
}

.shortcut1, .shortcut2, .shortcut3, .shortcutpopup {
	background-color: #ededed;
	color: #888;
	font-family: monospace;
	padding: 2px;
}

.active {
	background-color: #F7E5B5;
	color: black;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.checklist {
	-webkit-user-select: none;
	background-color: #f7f7f7;
	border: 1px solid #e9e9e9;
	width: 100%;
	height: 160px;
	overflow-y: scroll;
	margin-top: 0;
	
	list-style: none;
	padding-left: 2px;
	font-family: Arial, sans-serif;
	font-size: 13px;
}
.checklist label {
	display: block;
}
.checklist input {
	width: 13px;
	height: 13px;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
	position: relative;
	top: -1px;
}
.checklist input:checked + span {
	text-decoration: line-through;
}

	

.dlvl_0 {
	color:#0000ff;
}

.dlvl_1 {
	color:#000000;
}

.dlvl_2 {
	color:#555;
}

.dlvl_3 {
	color:#777;
}